/*
/.*

!/.gitignore
!/Makefile
!/README.md
!/ctype/
!/ctype/**
!/dlist/
!/dlist/**
!/include/
!/include/**
!/list/
!/list/**
!/stdio/
!/stdio/**
!/stdlib/
!/stdlib/**
!/string/
!/string/**
!/strings/
!/strings/**
